<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
  <Properties>
    <Property name="LOGS" value="./logs"/>
  </Properties>
  <Appenders>
    <Console name="ConsoleLocal" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>
          %d{ISO8601} %-5level,%X{traceId:-},%X{spanId:-}] [%-10.10thread] %-45.45logger{45} : %message%n"
        </Pattern>
      </PatternLayout>
    </Console>
    <RollingFile name="RollingFile" fileName="${LOGS}/spring-boot-logger.log"
      filePattern="${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log.gz" append="false">
      <PatternLayout>
        <Pattern>
          %d{ISO8601} %-5level [${appName},%X{traceId:-},%X{spanId:-}] ${PID:-} [%-15.15thread] %-40.40logger{40} : %message%n"
        </Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="250MB"/>
        <TimeBasedTriggeringPolicy interval="1"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="hu.nagygm" level="DEBUG" additivity="false">
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="ConsoleLocal"/>
    </Logger>
    <Logger name="org.springframework" level="DEBUG" additivity="false">
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="ConsoleLocal"/>
    </Logger>
    <Root level="error" additivity="false">
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="ConsoleLocal"/>
    </Root>
  </Loggers>
</Configuration>